/BankingSystem/.idea
BankingSystem/.env
BankingSystem/.env
/BankingSystem/models/__pycache__
/BankingSystem/db/__pycache__
/BankingSystem/__pycache__
BankingSystem/.env
/BankingSystem/schemes/__pycache__
/BankingSystem/crud/__pycache__
/BankingSystem/__pycache__
/BankingSystem/routes/__pycache__
/BankingSystem/__pycache__
/.idea
/BankingSystem/__pycache__
/BankingSystem/__pycache__
BankingSystem/.env
/BankingSystem/__pycache__
/BankingSystem/software/functions/__pycache__
/BankingSystem/software/windows/__pycache__
/BankingSystem/software/__pycache__
/BankingSystem/software/api_requests/__pycache__
/BankingSystem/__pycache__
/GuessWordTg
/BankingSystem/.venv312
